:root{
    --dark-red: #990000;
    --black: #000000;
    --dark-green: #007000;
}

.wy-side-nav-search, 
.wy-nav-top{
    background-color: var(--dark-green);
}

a:visited, a:hover,
div.rst-content a {
    color: var(--dark-green);
    text-decoration: underline;
}

li.wy-breadcrumbs-aside {
    display: none;
}

section.wy-nav-content-wrap
{
    background-color: var(--dark-green);
}